# Generic text and shell files for testing
# use ! patterns to whitelist exceptions, if any
*.sh
*.txt

# Vim swapfiles
*.swp
*.swo

# Custom backup format
.*.*


# File generated for testing, because I'm terribly original
file.*
